[MASTER]

[MESSAGES CONTROL]
disable=protected-access,
        broad-except,
        unused-argument,
        no-name-in-module,
        import-error,
        inconsistent-return-statements,
        assignment-from-no-return,
        too-many-arguments,
        too-few-public-methods,
        duplicate-code,
        too-many-lines,
        too-many-branches,
        anomalous-backslash-in-string,
        too-many-locals,
        consider-using-f-string,
        consider-using-dict-items,
        used-before-assignment,
        unused-variable,
        missing-timeout,
        use-sequence-for-iteration

extension-pkg-whitelist=math