# linode_api4>= 5.42.0
# Using forked version with ACLP-logs-support branch

git+https://github.com/sjer-akamai/linode_api4-python.git@ACLP-logs-support#egg=linode_api4
polling==0.3.2
ansible-specdoc>=0.0.20
