# TODO(Multicluster OBJ): Revert before merging to dev
# linode-api4>=5.17.0
git+https://github.com/linode/linode_api4-python@proj/multicluster-obj

polling>=0.3.2
types-requests==2.32.0.20240622
ansible-specdoc>=0.0.14
