name: Run Documentation Validation

on: pull_request

env:
  DEFAULT_PYTHON_VERSION: "3.13"

jobs:
  test-templated-docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .ansible/collections/ansible_collections/linode/cloud
    steps:
      - name: checkout repo
        uses: actions/checkout@v5
        with:
          path: .ansible/collections/ansible_collections/linode/cloud

      - name: setup python 3
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: install dependencies
        run: make deps

      - name: make temp directory
        run: mkdir tmp

      - name: copy over old readme
        run: cp README.md tmp/README.md

      - name: generate new docs
        run: DOCS_PATH=tmp/docs make gendocs

      - name: compare docs
        run: diff -r docs tmp/docs

      - name: compare README
        run: diff -r README.md tmp/README.md

      - name: clean up
        run: rm -rf tmp

  test-injected-docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .ansible/collections/ansible_collections/linode/cloud
    steps:
      - name: checkout repo
        uses: actions/checkout@v5
        with:
          path: .ansible/collections/ansible_collections/linode/cloud

      - name: setup python 3
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.DEFAULT_PYTHON_VERSION }}

      - name: install dependencies
        run: make deps

      - name: inject and validate new docs
        run: make inject
