name: Run Integration Tests

on:
  workflow_dispatch: null
  push:
    branches:
      - main
      - dev

jobs:
  run-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .ansible/collections/ansible_collections/linode/cloud
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
        with:
          path: .ansible/collections/ansible_collections/linode/cloud

      - name: update packages
        run: sudo apt-get update -y

      - name: install make
        run: sudo apt-get install -y build-essential

      - name: setup python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: install dependencies
        run: make deps

      - name: install ansible dependencies
        run: ansible-galaxy collection install amazon.aws:==6.0.1

      - name: install collection
        run: make install

      - name: replace existing keys
        run: rm -rf ~/.ansible/test && mkdir -p ~/.ansible/test && ssh-keygen -m PEM -q -t rsa -N '' -f ~/.ansible/test/id_rsa

      - name: run tests
        run: |
          if [ "$RUN_LONG_TESTS" = "1" ]; then
            make testall
          else
            echo "Skipping long tests."
            make testall
        env:
          LINODE_API_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}
          RUN_LONG_TESTS: ${{ secrets.RUN_LONG_TESTS }}
