on:
  pull_request:
  repository_dispatch:
    types: [acctest-command]

name: Integration tests

jobs:
  # Maintainer has commented /acctest on a pull request
  integration-fork:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .ansible/collections/ansible_collections/linode/cloud
    if:
      github.event_name == 'repository_dispatch' &&
      github.event.client_payload.slash_command.sha != '' &&
      github.event.client_payload.slash_command.tests != '' &&
      github.event.client_payload.pull_request.head.sha == github.event.client_payload.slash_command.sha

    steps:
      - uses: actions-ecosystem/action-regex-match@v2
        id: validate-tests
        with:
          text: ${{ github.event.client_payload.slash_command.tests }}
          regex: '[^a-z0-9_]'
          flags: gi

      # Check out merge commit
      - name: Checkout PR
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.client_payload.slash_command.sha }}
          path: .ansible/collections/ansible_collections/linode/cloud

      # Install deps
      - name: update packages
        run: sudo apt-get update -y

      - name: install make
        run: sudo apt-get install -y build-essential

      - name: setup python 3
        uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6 # pin@v2
        with:
          python-version: '3.10'

      - name: install dependencies
        run: pip3 install -r requirements-dev.txt -r requirements.txt

      - name: install ansible dependencies
        run: ansible-galaxy collection install amazon.aws:==1.5.1

      - name: install collection
        run: make install

      - name: replace existing keys
        run: rm -rf ~/.ansible/test && mkdir -p ~/.ansible/test && ssh-keygen -m PEM -q -t rsa -N '' -f ~/.ansible/test/id_rsa

      - run: make deps && make TEST_ARGS="-v ${{ github.event.client_payload.slash_command.tests }}" test
        if: ${{ steps.validate-tests.outputs.match == '' }}
        env:
          LINODE_API_TOKEN: ${{ secrets.DX_LINODE_TOKEN }}

      - uses: actions/github-script@v5
        id: update-check-run
        if: ${{ always() }}
        env:
          number: ${{ github.event.client_payload.pull_request.number }}
          job: ${{ github.job }}
          conclusion: ${{ job.status }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { data: pull } = await github.rest.pulls.get({
              ...context.repo,
              pull_number: process.env.number
            });
            const ref = pull.head.sha;
            const { data: checks } = await github.rest.checks.listForRef({
              ...context.repo,
              ref
            });
            const check = checks.check_runs.filter(c => c.name === process.env.job);
            const { data: result } = await github.rest.checks.update({
              ...context.repo,
              check_run_id: check[0].id,
              status: 'completed',
              conclusion: process.env.conclusion
            });
            return result;
