name: Run Linter

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v5

      - name: setup python 3
        uses: actions/setup-python@v6
        with:
          # TODO: Unpin minor version after `ansible` package v13.0.0 releases.
          python-version: '3.13'

      - name: install dependencies
        run: make deps

      - name: run linter
        run: make lint
